<section class="hero is-warning">
  <div class="hero-body">
    <p class="title">Tracks</p>
    <p class="subtitle">All tracks and artists (alphabetical order):</p>
  </div>
</section>

<div class="mt-6 mb-6">
  <%= will_paginate @tracks %>
</div>

<ol>
  <% @tracks.each do |track|%>
  <div class="box has-background-danger-dark">
    <%= link_to track.name, track %> by <%= link_to track.artist.name, track.artist %>
  </div>
  <% end %>
</ol>

<div class="mt-6">
  <%= will_paginate @tracks %>
</div>
