<% content_for(:title) { @track.name } %>

<section class="hero box has-background-danger-dark mt-5">
  <div class="hero-body">
    <h2 class="title is-3"><%= @track.name %></h2>

    <p>
      <strong>Duration: </strong>
      <%= @track.duration %> in Minutes
    </p>

    <p>
      <strong>Artist: </strong>
      <%= link_to @track.artist.name, @track.artist %>
    </p>

    <p>
      <strong>Genre: </strong>
        <% @track.genres.each do |genre| %>
          <%= link_to genre.name, genre_path(genre) %>
        <% end %>
    </p>
  </div>
</section>
