<section class="hero is-warning mt-5">
  <div class="hero-body">
    <p class="title">Artists</p>
    <p class="subtitle">All artists (alphabetical order):</p>
  </div>
</section>

<div class="mt-6 mb-6">
  <%= will_paginate @artists %>
</div>

<div class="mt-5">
  <% @artists.each do |artist| %>
<div class="box has-background-danger-dark">
  <%= link_to artist.name, artist %>
</div>
<% end %>
</div>

<div class="mt-6">
  <%= will_paginate @artists %>
</div>
