<section class="hero box is-warning">
  <div class="hero-body">
    <p class="title">About Our Project</p>
    <p>
      Welcome to our <strong class="has-text-link">Music Discovery Application</strong>! <br>
      This project aims to bring music lovers closer to the genres and artists they enjoy,helping them explore a wide range of musical styles and discover new favorites. <br>
      Our platform is powered by the <strong class="has-text-link">Last.fm API</strong>, enabling us to provide up-to-date information about popular artists, and diverse music genres from around the world. <br>
      There’s something here for everyone. <br>
      With our Music Discovery Application, you can explore top artists and tracks, dive deep into different genres, and enjoy a tailored experience that celebrates the universal language of music. <br>
      We believe that music has the power to connect people, inspire creativity, and elevate moods. <br>
      Our goal is to make music exploration easy, enjoyable, and personalized. <br>
      Thank you for visiting, and we hope you have a great time exploring the world of music with us!
    </p>
  </div>
</section>